/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.attribution  {
    font-size: smaller;
}

.align {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}