<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Create Memo</title>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/memos.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- Source: https://jqueryui.com/datepicker/-->

    <script>
        $(function() {
            $("#date").datepicker();
        });
    </script>
</head>

<body>

    <!-- Source: http://www.w3schools.com/tags/tag_textarea.asp -->
    <form method="POST" action="/store_data"> 
        <p>Date:<input name="date" type="text" id="date"></p>

        <textarea name="text" cols="50" rows="5" id="text" maxlength="50" placeholder="Enter Memo Here"></textarea> <br/>
        <input type="submit" />
    </form>

</body>

</html>
